#app {
  height:100%;
  width: 100vw;
}

:root {
  --textmain: white;
  --textsecond: black;
  --backgroundmain: gray;
  --backgroundsecond: skyblue;
  --bluemain : #607ca4;
  --whitemain: #F6F4EB;
  background-color: #607ca4;

}