.header-slogan {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  padding-right: 10rem;
  text-decoration: black;
  height: 100vh;
  justify-content: center;
}

.main-logo {
  font-size: 6rem;
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: 'Russo One', sans-serif;
}

.logo-red {
  color: rgb(255, 0, 0);
}

.slogan {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  padding: 80px 0;
  text-align: center;
}

.features h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.feature-content {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #F6F4EB;
}

.feature h3 {
  font-size: 4rem;
  margin-bottom: 15px;
  font-family: 'Russo One', sans-serif;
}

.feature p {
  font-size: 16px;
  color: #666;
}

.sosImg {
  height: 70vh;
}

.dashboardImg {
  /* height: 100vh; */
  max-width: 50vw;
}

.site-hero {
  background-image: url(https://m.media-amazon.com/images/I/71pXBighQTL.jpg);
}

.container {
  height: 100vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer {
  position: relative;
  width: 100%;
  background: #000000;
  min-height: 200px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #F6F4EB;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media (max-width: 480px) {
  .main-logo {
    font-size: 3rem;
    text-align: center;
  }

  .header-slogan {
    align-items: center;
    padding: 0px;
  }

  .slogan {
    padding: 10px;
  }

  .feature {
    flex-direction: column;
  }

  .feature h3 {
    font-size: 3rem;
    margin-bottom: 15px;
    font-family: 'Russo One', sans-serif;
  }

  .feature-content {
    max-width: 80vw;
  }

  .dashboardImg {
    object-fit: contain;
  }

  .feature-reverse {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .site-hero {
    background-image: url(https://m.media-amazon.com/images/I/71pXBighQTL.jpg);
    background-position-x: 1350px;
  }
}