#navbar {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'poppins', sans-serif;
  background-color: #607ca4;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
  display: flex;
  z-index: 999;
}

#navbar-border {
  border-bottom: 1px solid #F6F4EB;
}

#sosummit {
  color: #F6F4EB;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Russo One', sans-serif;
  font-size: 2.4rem;
  text-shadow: 1px 1px 25px black;
}

.red {
  color: red;
}

@media (max-width: 480px) {
#sosummit {
  text-align: center;
  width: 100vw;
}

}